@media screen and (min-width: 1025px) {
  .header-search-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(var(--color-white));
    z-index: var(--z-index-predictive-search);

    background: rgb(var(--color-white));
  }
}

@media screen and (max-width: 1024px) {
  .header-search-modal {
    position: fixed;
    top: var(--header-bottom-position);
    left: 0;
    right: 0;

    background: rgb(var(--color-white));
    z-index: var(--z-index-predictive-search);

    background: rgb(var(--color-white));
  }
}

details[open] .header-search-modal-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: calc(var(--100-dvh) - var(--header-bottom-position));
  background-color: rgb(var(--color-black), 0.2);
}
@media screen and (min-width: 1025px) {
  .header-search-modal-content {
    height: 100%;
  }
}

@media screen and (min-width: 1025px) {
  predictive-search {
    display: block;
    position: relative;
    height: 100%;
    padding: 0 2.4rem;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  predictive-search {
    display: block;
    position: relative;
    padding: 1.6rem 1.6rem;
  }
}

.header-search-form {
  /* border-bottom: 1px solid rgb(var(--color-grey)); */

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.8rem;
}

@media screen and (min-width: 1025px) {
  .header-search-form {
    width: 41.5%;
  }
}

@media screen and (max-width: 1024px) {
  .header-search-form {
    width: 100%;
  }
}

.header-search-form input {
  position: relative;
  display: block;

  border: none;
  width: 100%;
  padding: 1.2rem 1.6rem 1.2rem 0;

  font-size: 1.6rem;

  color: rgb(var(--color-black));
  background-color: transparent;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header-search-modal-close {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .header-search-modal-close {
    top: 50%;
    transform: translateY(-50%);
  }
}

.header-search-modal-close > .icon {
  width: 2.7rem;
}

.header-search-search > .icon {
  width: 2.7rem;
}

.header-search-reset > .icon {
  width: 2rem;
}

@media screen and (min-width: 768px) {
  .predictive-search-landing {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2.4rem 2.4rem;
  }
}
@media screen and (max-width: 767px) {
  .predictive-search-landing {
    display: flex;
    flex-flow: column nowrap;
    gap: 3.2rem;
  }
}
@media screen and (min-width: 1025px) {
  .predictive-search-landing {
    padding: 2.4rem 2.4rem;
  }
}

@media screen and (max-width: 1024px) {
  .predictive-search-landing {
    padding: 1.6rem 1.6rem;
  }
}

.predictive-search:has(.predictive-search__products-wrapper)
  .predictive-search-landing {
  display: none !important;
}

.predictive-search-landing-section > * + * {
  margin-top: 5.2rem;
}

@media screen and (min-width: 768px) {
  .predictive-search-landing-product-list {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.6rem;
  }

  .predictive-search-landing-product-list-item {
    flex: 1 1 0;
  }
}

@media screen and (max-width: 767px) {
  .predictive-search-landing-product-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.6rem;
  }
}

.predictive-search-landing-section--menu-1.predictive-search-landing-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 2rem; */
  max-width: 50.2rem;
}

.predictive-search-landing-menu-1 {
  display: flex;
  flex-flow: row wrap;
  gap: 0.8rem;
  max-width: 45rem;
  margin-top: 1.2rem;
}

li.predictive-search-landing-menu-item {
  max-width: fit-content;
}

@media screen and (min-width: 1025px) {
  .predictive-search {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    max-height: calc(var(--100-dvh) - var(--header-bottom-position));
    overflow: auto;
    overscroll-behavior: contain;

    background: rgb(var(--color-white));
  }
}

@media screen and (max-width: 1024px) {
  .predictive-search {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    height: calc(var(--100-dvh) - var(--header-bottom-position) - 8.1rem);
    overflow: auto;
    overscroll-behavior: contain;

    background: rgb(var(--color-white));
  }
}

@media screen and (min-width: 1025px) {
  .predictive-search__results-groups-wrapper {
    padding: 2.4rem 2.4rem;
  }
}

@media screen and (max-width: 1024px) {
  .predictive-search__results-groups-wrapper {
    padding: 1.6rem 1.6rem;
  }
}
.predictive-search__results-groups-wrapper {
    border-top: .1rem solid rgb(var(--color-grey));
  }

.predictive-search__heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.6rem;
}

.predictive-search__loading-state {
  width: 2.4rem;
}

@media screen and (min-width: 992px) {
  .predictive-search__results-list {
    margin-top: 1.2rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 1.6rem;
  }

  .predictive-search__list-item {
    flex: 0 1 25%;
  }
}

@media screen and (max-width: 991px) {
  .predictive-search__results-list {
    margin-top: 1.2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.6rem;
  }
}
