@media screen and (min-width: 768px) {
  .hp-blog-list-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.4rem;
    padding: 0 2.4rem;
    margin-bottom: 5.6rem;
  }
}

@media only screen and (max-width: 767px) {
  .hp-blog-list-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
    padding: 0 1.6rem;
    margin-bottom: 3.2rem;
  }
}

.hp-blog-card-top {
  position: relative;
  overflow: hidden;
}

.hp-blog-card-date {
  color: rgb(var(--color-grey-dark));
}

.hp-blog-list-title {
  white-space: nowrap;
}

.hp-blog-carousel .swiper {
  --swiper-scrollbar-sides-offset: 2.4rem;
  --swiper-scrollbar-bottom: 0;
  --swiper-scrollbar-size: 1px;

  --swiper-scrollbar-bg-color: rgb(var(--color-grey));
  --swiper-scrollbar-drag-bg-color: rgb(var(--color-black));

  padding-bottom: 3.2rem;
}

@media only screen and (min-width: 1200px) {
  .hp-blog-carousel .swiper {
    padding: 0 2.4rem;
  }
}

@media only screen and (max-width: 767px) {
  .hp-blog-carousel .swiper {
    --swiper-scrollbar-sides-offset: 1.6rem;
  }
}

@media (any-hover: hover) {
  .hp-blog-card .media {
    transition: transform 200ms ease-in;
  }
  .hp-blog-card-top:hover .media {
    transform: scale(1.06);
  }
}

.hp-blog-card-bottom {
  margin-top: 1.6rem;
}

.hp-blog-card-title {
  margin-top: 0.8rem;
}
.hp-blog-card-excerpt {
  margin-top: 1.6rem;
}
.hp-blog-card-link {
  margin-top: 0.4rem;
}
