@media screen and (min-width: 992px) {
  .hp-editorial-50-50 .banner {
    display: flex;
    flex-wrap: nowrap;
  }
  .hp-editorial-50-50 .banner > * {
    flex: 0 0 50%;
    min-width: 0;
  }
  .hp-editorial-50-50 .banner-content {
    padding: 4rem 2.4rem;
  }

  .hp-editorial-50-50 .banner-paragraph {
    margin-top: 1.6rem;
  }

  .hp-editorial-50-50 .banner-cta {
    margin-top: 2.4rem;
  }
}

@media only screen and (max-width: 991px) {
  .hp-editorial-50-50 .banner {
    display: flex;
    flex-wrap: nowrap;
  }

  .hp-editorial-50-50 .banner-content {
    padding: 3.2rem 1.6rem;
  }

  .hp-editorial-50-50 .banner-paragraph {
    margin-top: 1.2rem;
  }

  .hp-editorial-50-50 .banner-cta {
    margin-top: 1.6rem;
  }
}
